<IfModule mod_rewrite.c>
  RewriteEngine On

  # Remember, the rewrite rules are looped until none can be applied anymore.
  
  # === REDIRECT BASED ON MOBILE DEVICE ====================================
  # RewriteRule ^/blackberry/?$ mobile.php?device=bb [L]

  RewriteRule ^(\d+)/(\d+)/(\d+)/([\w-]+)/?$ story.php?y=$1&m=$2&d=$3&title=$4 [L,QSA]
</IfModule>
