<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
  SetEnvIfNoCase Request_URI \
    \.(?:gif|jpe?g|png)$ no-gzip dont-vary
  Header append Vary User-Agent env=!dont-vary
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Remember, the rewrite rules are looped until none can be applied anymore.
  
  # === REDIRECT BASED ON MOBILE DEVICE ====================================
  # RewriteRule ^/blackberry/?$ mobile.php?device=bb [L]

  RewriteRule ^(\d+)/(\d+)/(\d+)/([\w-]+)/?$ story.php?y=$1&m=$2&d=$3&title=$4 [L,QSA]
</IfModule>